//- Author: Maxim Gladkih
	Mail: mail@gladkih.su
	Date: 3/13/13
	Time: 11:56 AM
	Name: Аналитика
article.b-article
	h2#analitycs Аналитика
	ul.b-article__list
		li
			input#uptimemonitoring.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='uptimemonitoring') Мониторинг
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://www.uptimerobot.com/') Uptime robot
				li
					a(href='http://www.gotsitemonitor.com/') GotSiteMonitor.com
				li
					a(href='http://host-tracker.com/') host-tracker.com
		li
			input#trafficanalysis.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='trafficanalysis') Анализ траффика
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://www.google.com/analytics') Google Analytics
				li
					a(href='http://metrika.yandex.ru/') Яндекс.Метрика