//- Author: Maxim Gladkih
	Mail: mail@gladkih.su
	Date: 3/13/13
	Time: 12:01 PM
	Name: ...и последнее
article.b-article
	h2#finally ...и последнее
	ul.b-article__list
		li.optional
			input#addhumanstxt.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='addhumanstxt') Добавить humans.txt
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://humanstxt.org/RU') Мы люди, не машины!