//- Author: Maxim Gladkih
	Mail: mail@gladkih.su
	Date: 3/13/13
	Time: 11:50 AM
	Name: Мобильные
article.b-article
	h2#mobile Мобильные
	ul.b-article__list
		li
			input#mobileokscoreof75.b-article__checkbox(type="checkbox", tabindex="1")
			label(for="mobileokscoreof75") MobileOK: 75+
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href="http://validator.w3.org/mobile/") W3C mobile checker
		li
			input#useviewportmeta-tag.b-article__checkbox(type="checkbox", tabindex="1")
			label(for="useviewportmeta-tag") Мета-тег 'viewport'
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href="http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag/") Don’t Forget the Viewport Meta Tag
				li
					a(href="http://www.hanselman.com/blog/MakeYourWebsiteMobileAndIPhoneFriendlyAddHomeScreenIPhoneIconsAndAdjustTheViewPort.aspx") Make your website mobile friendly
		li
			input#usecorrectinputtypes.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='usecorrectinputtypes') Нужные элементы формы
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href="http://html5tutorial.info/html5-contact.php") Input type: Email, Url, Phone
				li
					a(href='http://mobileinputtypes.com/') mobile input types
				li
					a(href='http://htmlbook.ru/html/input/type') HTML Book
		li
			input#manualcheckusingemulators.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='manualcheckusingemulators') Проверка в эмуляторах
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://screenqueri.es/') Online media query tester
				li
					a(href='http://www.webdesignerdepot.com/2012/11/6-free-mobile-device-emulators-for-testing-your-site/') 6 free mobile emulators
				li
					a(href='http://www.opera.com/developer/tools/mobile/') Opera Mobile Emulator

