//- Author: Maxim Gladkih
	Mail: mail@gladkih.su
	Date: 3/13/13
	Time: 11:57 AM
	Name: Производительность
article.b-article
	h2#performance Производительность
	ul.b-article__list
		li
			input#googlepagespeedscoreof90.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='googlepagespeedscoreof90') Google Page Speed: 90+
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='https://developers.google.com/speed/pagespeed/') Google Page Speed
		li
			input#yahooyslowscoreof85.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='yahooyslowscoreof85') Yahoo YSlow: 85+
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://yslow.org/') Yahoo's YSlow
		li
			input#optimizehttpheaders.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='optimizehttpheaders') Оптимизация HTTP заголовков
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://redbot.org') redbot.org
		li
			input#optimizeimages.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='optimizeimages') Оптимизация изображений
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='https://github.com/imgo/imgo/') imgo
				li
					a(href='http://punypng.com/') PunyPNG.com
				li
					a(href='http://www.smushit.com/ysmush.it/') SmushIt.com