//- Author: Maxim Gladkih
	Mail: mail@gladkih.su
	Date: 3/13/13
	Time: 11:59 AM
	Name: SEO
article.b-article
	h2#seo SEO
	ul.b-article__list
		li
			input#senseoscoreof85.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='senseoscoreof85') SenSEO: 85+
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='https://addons.mozilla.org/en-US/firefox/addon/senseo/') SenSEO for Firefox
		li
			input#robotstxt.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='robotstxt') robots.txt
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://robotstxt.org.ru/') Документация по robots.txt
				li
					a(href='http://www.robotsgenerator.com/') Онлайн генератор robots.txt
		li
			input#xmlsitemap.b-article__checkbox(type='checkbox', tabindex='1')
			label(for='xmlsitemap') XML карта сайта
			a.sub-list-marker [+]
			ul.sub-list
				li
					a(href='http://www.xml-sitemaps.com/') Онлайн генератор карты сайта
