//  Author: Maxim Gladkih
//  Mail: mail@gladkih.su
//  Name: Project variables

//Support settings
$support-ie: false;
$support-prefix: false;

// Variables colors
// Grays
$black: #000;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight: #bababa;
$white: #fff;

// Accent colors
$blueDark: #7F9db9;
$blue: #2a5db0;
$blueLight: #c3d9ff;
$green: #55ad60;
$greenLight: #90d090;
$greenLighten: #d3f4d7;
$red: #c00;
$redLighten: #fcc;
$purpleLight: #c0c8ff;
$yellow: #ffc40d;
$yellowLight: #ffcc33;
$yellowLighter: #fffddb;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

//Font
$baseFontSize: 14px;
$baseLineHeight: 1.41em;

//
$footerHeight: 50px;