//- Author: Maxim Gladkih
//- Mail: mail@gladkih.su
//- Date: 3/1/13
//- Time: 8:47 AM
//- Name:
!!! 5
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		title Список для проверки перед запуском сайта

		meta(name='description', content='На данном сайте собраны основные моменты на которые следует обратить внимание переде тем, как выложить проект на боевой сервер.')
		meta(name='viewport', content='width=device-width')
		if dev
			link(rel='stylesheet', href='./static/css/style.dev.css')
		else
			link(rel='stylesheet', href='./static/css/style.min.css')
		link(type='text/plain', rel='author', href='humans.txt')
	body
		div.wrapper
			aside.sidebar
				include include/sidebar
			section.l-main
				header.l-header
					h1.title Проверить перед выкладкой
				section.l-content
					include include/list/best-practice
					hr
					include include/list/mobile
					hr
					include include/list/analitycs
					hr
					include include/list/performance
					hr
					include include/list/code-quality
					hr
					include include/list/accessibility
					hr
					include include/list/seo
					hr
					include include/list/semantics
					hr
					include include/list/security
					hr
					include include/list/finally
			footer.l-footer
				a(href='http://gladkih.su/') Максим Гладких
	script(src='./static/js/vendor/jquery-1.9.0.min.js')
	script(src='./static/js/vendor/affix.min.js')
	script(src='./static/js/vendor/custom-input.js')
	script(src='./static/js/script.min.js')
	script
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-24203363-11']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();