/*
 * Reset style
 * Adapted from http://github.com/necolas/normalize.css
 * MIT License
 *
 */
/* line 25, ../dark-beer/stylesheets/reset-global.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 32, ../dark-beer/stylesheets/reset-global.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 42, ../dark-beer/stylesheets/reset-global.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 48, ../dark-beer/stylesheets/reset-global.scss */
[hidden] {
  display: none;
}

/* line 57, ../dark-beer/stylesheets/reset-global.scss */
html,
body {
  height: 100%;
}

/* line 61, ../dark-beer/stylesheets/reset-global.scss */
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 16.8px;
}

/* line 73, ../dark-beer/stylesheets/reset-global.scss */
body {
  margin: 0;
}

/* line 81, ../dark-beer/stylesheets/reset-global.scss */
a {
  color: #2a5db0;
  padding-bottom: 2px;
}

/* line 87, ../dark-beer/stylesheets/reset-global.scss */
a:visited {
  color: #2a5db0;
}

/* line 91, ../dark-beer/stylesheets/reset-global.scss */
a:hover {
  color: #16315e;
  text-decoration: none;
}

/* line 96, ../dark-beer/stylesheets/reset-global.scss */
a img {
  border: none;
}

/* line 106, ../dark-beer/stylesheets/reset-global.scss */
a:hover,
a:active,
a:focus,
:-moz-any-link:focus,
a::-moz-focus-inner,
button:focus {
  outline: 0 none;
}

/* line 110, ../dark-beer/stylesheets/reset-global.scss */
input::-moz-focus-inner {
  border: 0;
}

/* line 119, ../dark-beer/stylesheets/reset-global.scss */
h1 {
  font-size: 2em;
}

/* line 123, ../dark-beer/stylesheets/reset-global.scss */
p {
  margin: 0 0 1em;
}

/* line 128, ../dark-beer/stylesheets/reset-global.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 133, ../dark-beer/stylesheets/reset-global.scss */
b, strong {
  font-weight: bold;
}

/* line 137, ../dark-beer/stylesheets/reset-global.scss */
blockquote {
  margin: 1em 40px;
}

/* line 142, ../dark-beer/stylesheets/reset-global.scss */
dfn {
  font-style: italic;
}

/* line 146, ../dark-beer/stylesheets/reset-global.scss */
hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #999999;
  margin: 1em 0;
  padding: 0;
}

/* line 155, ../dark-beer/stylesheets/reset-global.scss */
ins {
  background: #ffc40d;
  color: black;
  text-decoration: none;
}

/* line 161, ../dark-beer/stylesheets/reset-global.scss */
mark {
  background: #ffc40d;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 174, ../dark-beer/stylesheets/reset-global.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 181, ../dark-beer/stylesheets/reset-global.scss */
sup {
  top: -0.5em;
}

/* line 185, ../dark-beer/stylesheets/reset-global.scss */
sub {
  bottom: -0.25em;
}

/* line 193, ../dark-beer/stylesheets/reset-global.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
}

/* line 202, ../dark-beer/stylesheets/reset-global.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 208, ../dark-beer/stylesheets/reset-global.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 213, ../dark-beer/stylesheets/reset-global.scss */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 218, ../dark-beer/stylesheets/reset-global.scss */
small {
  font-size: 80%;
}

/* line 226, ../dark-beer/stylesheets/reset-global.scss */
img {
  height: auto;
  vertical-align: middle;
  border: 0;
}

/* line 242, ../dark-beer/stylesheets/reset-global.scss */
#map_canvas img {
  max-width: none;
}

/* line 248, ../dark-beer/stylesheets/reset-global.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 256, ../dark-beer/stylesheets/reset-global.scss */
figure {
  margin: 0;
}

/* line 264, ../dark-beer/stylesheets/reset-global.scss */
form {
  margin: 0;
}

/* line 269, ../dark-beer/stylesheets/reset-global.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* line 274, ../dark-beer/stylesheets/reset-global.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 284, ../dark-beer/stylesheets/reset-global.scss */
label {
  cursor: default;
}

/* line 292, ../dark-beer/stylesheets/reset-global.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
  font-size: 12px;
  vertical-align: baseline;
}

/* line 304, ../dark-beer/stylesheets/reset-global.scss */
button,
input {
  line-height: normal;
}

/* line 313, ../dark-beer/stylesheets/reset-global.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 321, ../dark-beer/stylesheets/reset-global.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 330, ../dark-beer/stylesheets/reset-global.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 336, ../dark-beer/stylesheets/reset-global.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 346, ../dark-beer/stylesheets/reset-global.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 355, ../dark-beer/stylesheets/reset-global.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 362, ../dark-beer/stylesheets/reset-global.scss */
button,
input,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #222222;
}

/* line 367, ../dark-beer/stylesheets/reset-global.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 374, ../dark-beer/stylesheets/reset-global.scss */
input:invalid,
textarea:invalid {
  background-color: #ffa7a7;
}

/* line 382, ../dark-beer/stylesheets/reset-global.scss */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 387, ../dark-beer/stylesheets/reset-global.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 392, ../dark-beer/stylesheets/reset-global.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 403, ../dark-beer/stylesheets/reset-global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 408, ../dark-beer/stylesheets/reset-global.scss */
td {
  vertical-align: top;
}

/* line 1, _base.scss */
body {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.41em;
}

/* line 10, _base.scss */
.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 1020px;
}

/* line 9, ../dark-beer/mixins/layout/footer.scss */
.l-main {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}

/* line 20, ../dark-beer/mixins/layout/footer.scss */
.footer-spacer {
  height: 50px;
}

/* line 24, ../dark-beer/mixins/layout/footer.scss */
.l-footer {
  clear: both;
  position: relative;
  height: 50px;
}

/* line 18, _base.scss */
.b-article {
  display: inline-block;
  width: 29%;
  padding-right: 3%;
  vertical-align: top;
}

/* line 25, _base.scss */
.b-article__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 27, _base.scss */
.b-article__list li {
  margin-bottom: .2em;
}

/* line 32, _base.scss */
.b-article__checkbox {
  display: block;
  float: left;
  margin-top: 4px;
  margin-right: 3px;
}

/* line 39, _base.scss */
.sub-list-marker {
  margin-left: 3px;
  cursor: pointer;
}

/* line 44, _base.scss */
.sub-list {
  display: none;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin: 0 0 0.7em 3em;
}

/* line 51, _base.scss */
.sub-list__show {
  display: block;
}

/* line 55, _base.scss */
input[type="checkbox"]:checked + label {
  color: #55ad60;
  text-decoration: line-through;
}
