//- Author: Maxim Gladkih
	Mail: mail@gladkih.su
	Date: 3/13/13
	Time: 12:18 PM
	Name: Сайдбар
img(src='./static/images/logo.png', width='160', height='160', alt='WebDevCheckList')
ul(data-spy='affix', data-offset-top='200').menu
	li.menu-item
		a.menu-item__link(href='#best-practice')
			| Лучшая практика
	li.menu-item
		a.menu-item__link(href='#mobile')
			| Мобильные
	li.menu-item
		a.menu-item__link(href='#analitycs')
			| Аналитика
	li.menu-item
		a.menu-item__link(href='#performance')
			| Производительность
	li.menu-item
		a.menu-item__link(href='#code-quality')
			| Качество кода
	li.menu-item
		a.menu-item__link(href='#accessibility')
			| Доступность
	li.menu-item
		a.menu-item__link(href='#seo')
			| SEO
	li.menu-item
		a.menu-item__link(href='#semantics')
			| Семантика
	li.menu-item
		a.menu-item__link(href='#security')
			| Безопасность
	li.menu-item
		a.menu-item__link(href='#finally')
			| ...и последнее